﻿@model EmployeeManagementSystemApp.Models.RegisterModel
@{
    Layout = null;
}

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { onSubmit= "return SubmitForm(this)"}))
{
    //@Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <div class="card-title">Register</div>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control", @placeholder = "First Name" })
                @*@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "First Name" })*@
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control", @placeholder = "Last Name" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge badge-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Department)
                @Html.TextBoxFor(m => m.Department, new { @class = "form-control", @placeholder = "Department" })
                @Html.ValidationMessageFor(m => m.Department, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-ddThh:mm:ss}", new { @class = "form-control", type = "datetime-local" })
                    @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "badge badge-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Role,
                    new SelectList(Enum.GetValues(typeof(Role))),
                    "Select Role",
                    new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
            </div>
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </div>
}

