﻿@model EmployeeManagementSystemApp.Models.RegisterModel;
@{
    ViewBag.Title = "Employee page";
}
@{
    var data = ViewBag.Token;
}

<h2>List of Employees </h2>

<div class="container">

    <button type="button" class="btn btn-success" style="margin-bottom:10px;" onclick="PopUpForm();"> <i class="fa fa-plus"> </i> Add Employee </button>


    <table id="customerDatatable" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th> ID </th>
                <th> First Name</th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Department </th>
                <th> Date Of Birth </th>
                <th> Role </th>
                @*<th> </th>*@
            </tr>
        </thead>
    </table>

</div>

@*<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@section scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $('#customerDatatable').DataTable({
                            "ajax": {
                                'url': '@Url.Action("EmployeeData", "Home")',
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "Id"},
                                { "data": "FirstName"},
                                { "data": "LastName"},
                                { "data": "Email"},
                                { "data": "Department" },
                                { "data": "DateOfBirth" },
                                { "data": "Role" },
                            ]
            });
        });

        function PopUpForm() {
            var url = '@Url.Action("Register", "Home")';
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Employee Table',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                                dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
    </script>
}

