﻿@model EmployeeManagementSystemApp.Models.LoginModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <p class="sign" align="center">Admin Sign in</p>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "un ", @placeholder = "E-Mail", @type = "email" }) <br />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "pass", @placeholder = "Password" })<br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="clear"></div>

        <input class="submit" type="submit" align="center" value="login" name="login">
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}